@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------------------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  background-color: #fff;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #010101;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
}
.header::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: red;
  border-radius: 5em;
  width: 500px;
  left: 35%;
  top: 100%;
}
.header__container {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}
.header__logo {
  width: 45px;
  height: 56px;
}
.header__logo img {
  width: 45px;
  height: 56px;
}
.header__nav {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5em;
  font-weight: 700;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__el {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__el:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: red;
}
.header__login {
  background-color: #fff;
  border-radius: 3em;
  padding: 0.5em 2em;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  max-width: 10em;
}
.header__login:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
  background-color: red;
}

.main {
  min-height: 595px;
  background-color: #f8f9fa;
}
.main__container {
  min-height: 595px;
  color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.main__container button {
  border-radius: 0.5em;
  width: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  letter-spacing: normal;
  background-color: red;
  font-size: 20px;
  margin: 1em 0 0 0;
  color: #f8f9fa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__container button:hover {
  background-color: #010101;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__title {
  font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 0 0 0.5em 0;
  color: #010101;
}
.main__forget {
  margin: 1em 0 0 0;
}
.main__forget:hover {
  text-decoration: underline;
  -webkit-transition: 1s;
  transition: 1s;
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14em;
  margin: 0 0 1em 0;
  font-size: 20px;
}
.main__choice {
  width: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid rgb(255, 176, 176);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__choice.active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom-color: red;
}

input {
  background-color: #010101;
  width: 100px;
  background: none;
  color: #010101;
  border: 2px solid #000;
  width: 22em;
  height: 4em;
  border-radius: 1em;
  padding: 0 0 0 1em;
}
input::-webkit-input-placeholder {
  color: #010101;
  font-size: 16px;
}
input::-moz-placeholder {
  color: #010101;
  font-size: 16px;
}
input:-ms-input-placeholder {
  color: #010101;
  font-size: 16px;
}
input::-ms-input-placeholder {
  color: #010101;
  font-size: 16px;
}
input::placeholder {
  color: #010101;
  font-size: 16px;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer {
  height: 72px;
  background-color: #010101;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__list {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  color: #f8f9fa;
}
.footer__logo {
  width: 45px;
  height: 56px;
}
.footer__logo img {
  width: 45px;
  height: 56px;
}
.footer__el > img {
  height: 25px;
  width: 25px;
}